header {
    background-color: rgb(51, 86, 133);
    text-align: center;
    color: azure;
    font-family:'Courier New', Courier, monospace;
    padding: 5px;
}
main {
    display: grid;
    font-family: 'Courier New', Courier, monospace;
}
section {
    margin: 10px;
    text-align: left;
    text-indent: 10px;
    border: 2px solid rgb(51, 86, 133);
    border-radius: 10px;
    background-color: rgb(227, 240, 254);
    max-width: 380px;
}
section h3 {
    background-color: rgb(51, 86, 133);
    margin: 0;
    padding: 10px;
    color: azure;
    text-align: left;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
section p {
    padding: 5px;
    color: rgb(6, 21, 83);
}
section a {
    padding: 5px;
    display: block;
}
section img {
    max-width: 360px; 
}

@media only screen and (min-width:25rem) {
    main {
        grid-template-columns: 1fr;
    }
}

@media only screen and (min-width:30rem) {
    main {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (min-width:60rem) {
    main {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

footer {
    background-color: rgb(50, 86, 133);
    padding: 5px;
    border: solid 2px rgb(50, 125, 162);
    border-radius: 5px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: azure;
}

