@media only screen and (min-width:768px) and (max-width:1200px) {
    .container div label{
        font-size: 2.5em;
        width: 60px;
        line-height: 60px;
    }
    .container div{
        height: 60px;
    }  
    header > nav > img{
        width: 3.6em;
        height: auto;
    }
    .menu li a{
        font-size: 1.4em;
    }
    .container nav{
        top: 4.35em;
    }
    input[type=checkbox]:checked ~ nav{
        width: 15em;
    }
    .hero{
        width: 100%;
        height: auto;
    }
    .hero img{
        width: 100%;
        height: auto;
    }
    .hero a{
        font-size: 2em;
        top: 14em;
    }
    .social-networks img {
        width: 3em;
    }
    .cards {
        display: grid;
        grid-template-columns: 40% 60%;
        grid-template-rows:70% 30%;
    }
    .card{
        border-radius: 15px;
        margin-bottom: 2em;
        margin-inline: 1.5em;
        padding: 1em;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        font-size: 19px;
    }
    .weather{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 3;
    }
    .join-us{
        width: 250px;
        top: 100px;
        right: 20px;
    }
    .join-us img{
        width: 90px;
    }
    .main-section {
        display: flex;
        flex-direction: column;
        padding-inline: 100px;
    }
    .form-main{
        display: flex;
        flex-direction: column-reverse;
    }
    .form-container{
        width: 100%;
        max-width: 600px;
    }

    /* BANNER */

    .close-btn {
        top: 5%;
        left: 48%;
        font-size: 50px;
    }



    .banner picture{
        position: absolute;
        top: 10%;
        left: 10%;
        right: 10%;
    }
}