
@media only screen and (min-width: 50em){
    
    header {
        display: flex;
        flex-direction: row;
        justify-content:center;
        align-items: center;
        max-height: 130px;
    }

    header img {
        width: 120px;
        height: auto;
    }

    nav {
        max-height: 45px;
    }

    nav {
        padding: 0px;
        margin: 0px;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    nav a {
        font-size: 1em;
    }

    #cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: space-evenly;
    }

    .card-1, .card-2 {
        margin: 5px;
    }

    footer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    footer p {
        padding-inline: 5px;
    }

    footer img {
        margin: 10px;
    }
    
    
}